<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uninew.mms"
          android:sharedUserId="android.uid.system">
    <!--android:sharedUserId="android.uid.system"-->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>


    <application
        android:name="com.uninew.mms.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.uninew.mms.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.uninew.mms.McuService">
            <intent-filter>
                <action android:name="com.uninew.mms.McuService"/>
            </intent-filter>
        </service>

        <!--
             <receiver android:name="com.uninew.mculinkserver.LaunchBroadcast" >
            <intent-filter>
                <action android:name="Com.LocationService.RespondStat" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        -->
        <!-- 开机启动的广播 -->
        <receiver android:name="com.uninew.mms.StartBroadCastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>


        <!-- aidl MMS -->
        <service android:name=".aidl.aidl.RecorderService">  
            <intent-filter>  
                 <action android:name="com.cookoo.car_terminal.AIDL_SERVICE"/>  
            </intent-filter>
        </service>
          
    </application>

</manifest>